.signup-form { background-color: #ddd; padding: 20px; width: 300px; margin: 0 auto; }
.input-section input { width: 100%; margin-bottom: 5px; border: 1px solid #ccc; padding: 5px; }
.submit-btn { background-color: #ddd; border: 1px solid #aaa; padding: 10px 20px; margin-top: 20px; cursor: pointer; }
.welcome-msg { font-size: 3rem; margin: 100px 0; }